// Global
body {
	background-color: #121212;
	background: #121212;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a:hover {
	text-decoration: none;
}

img {
	display: block;
}

html{
    scroll-behavior: smooth;
}

img.responsive {max-width: 100%;}

hr{
    overflow: hidden;
    display: block
}

//Placeholder
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

// Container
.wrapper{
	width:100%;
	margin:0px auto;
	z-index:9;
	position: relative;
	padding: 0px 15px;
}

.wrapper-1314{
	max-width: 1314px;
}

.max-200{
    max-width: 200px;
}

.max-350{
    max-width: 350px;
}

.max-400{
	max-width: 400px;
}

.max-500{
    max-width: 500px;
}

.max-520{
    max-width: 520px;
}

.max-550{
    max-width: 550px;
}

.max-600{
    max-width: 600px;
}

// Separador

.separador-numeros{
    border-top: 2px solid rgba(115, 50, 189, 0.678);
    margin-top: 0px;
    max-width: 200px;
    width: 100%;
}

.separador-section{
    margin: 0;
    width: 100%;
    border-top: 1px solid #393939;
}

// Cores
$verde: #04d361;
$vermelho: #e43b3b;
$cinza: #a8a8b3;
$cinza-1: #D1D1D1;
$branco: #E1E1E6;
$preto: #000;
$preto-2: #171717;
$preto-3: #212121;
$roxo: #8257e6;
$roxo-2: #6816ece8;

.cinza{color: $cinza;}
.branco{color: $branco;}
.verde{color: $verde;}
.roxo{color: $roxo;}
.roxo-2{color: $roxo-2;}


// Fontes
.fs-22 {font-size: 22px;}

// Tamanhos botões

.btn-218{
	width: 100%;
	max-width: 218px;
	height: 56px;
}

.btn-554{
	width: 100%;
	max-width: 554px;
	height: 56px;
}


//padrôes dos textos
.infos-section{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
    font-style: normal;
    font-display: swap;
	strong{
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
	}
	h1{
		font-size: 48px;
		font-family: 'Raleway', sans-serif;
		font-weight: normal;
		font-style: normal;

		strong{
			font-family: 'Raleway', sans-serif;
			font-weight: bold;
		}
	}
	h2{
		font-size: 31px;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		font-style: normal;

	}
	h3{
		font-size: 25px;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		font-style: normal;

	}
	strong{
		font-weight: bold;
	}
}

.roboto{
    font-family: 'Roboto', sans-serif;
}



// Medias

@media(max-width: 1440px){

}
@media(max-width: 1199px){

	//padrôes dos textos
	.infos-section{
		font-size: 18px;
		h1{
			font-size: 34px;
		}
		h2{
			font-size: 26px;
		}
	}
}
@media(max-width: 991px){

	//padrôes dos textos
	.infos-section{
		font-size: 14px;
		h1{
			font-size: 32px;
		}
		h2{
			font-size: 23px;
		}
	}
}

@media(max-width: 767){

    .infos-section{
        h1{
            font-size: 28;
        }
    }
}

@media(max-width: 540){

    .infos-section{
        h1{
            font-size: 24;
        }
    }
}