// Header
.header{
    .logo {
        position: absolute;
        padding: 20px;
    }

}

@media(max-width: 767px){
    .header{
        padding: 0px;
        text-align: center;
        .logo{
            margin: 0 auto;
        }
    }
}